body {
  background-color: #eaf6f6;
}

h1,
h2 {
 color:#66bfbf;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

img {
  height:210px; 
  border-radius: 50%;
}

#heading {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgba(0, 0, 0, 0.466);
}